body {
  background: #C9D5B5 !important;
}

/* Main Color override */
.header-content .btn-buynow {
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF !important;
}

.banner:before,
.about-facts:before,
.testimonials:before {
  background: #C9D5B5 !important;
  opacity: 0.9;
}

/* Remove image url */
.testimonials {
  background: url('');
}

.buynow-infobar:before {
  background: #FFFFFF !important;
}

.preloader,
nav.navbar.bootsnav.sticky-header,
.jumptotop a,
h4:after,
p:after  {
  background: #C9D5B5 !important; /* with no background opacity. */
}

.header-content h2 span,
i,
.buynow-infobar .section-title p,
.buynow-infobar .section-title h2,
.buynow-infobar .buynow-entry p {
  color: #C9D5B5 !important;
}

.icon-box {
  border: 1px solid #C9D5B5 !important;
}

.feature-single:hover .icon-box {
  background: #EEEEEE;
}

.jumptotop a i {
  color: #FFFFFF !important;
}

.btn-buynow {
  color: #C9D5B5 !important;
  border: 2px solid #C9D5B5 !important;
}

.btn-buynow:hover {
  color: #FFFFFF !important;
  background: #C9D5B5 !important;
}

.footer-social a:hover {
  background: #C9D5B5 !important;
}

.footer-social a:hover ,
.footer-social a:hover i {
  color: #FFFFFF !important;
}

.contactinfo-single h3,
.contactus .section-title p,
.btn-contact {
  color: #C9D5B5 !important;
}

.contactinfo-single i {
  border: 1px solid #C9D5B5 !important;
}

.btn-contact {
  border: 2px solid #C9D5B5 !important;
}

.btn-contact:hover {
  background: #C9D5B5 !important;
  color: #FFFFFF !important;
}

/* end color overrides */
