body {
  /* background: #B9F18C; */
  background: #7FB685;
}

/* Main Color override */
.header-content .btn-buynow {
  color: #FFFFFF !important;
  border: 2px solid #FFFFFF !important;
}

.banner:before,
.about-facts:before,
.testimonials:before {
  /* background: #B9F18C !important; */
  background: #7FB685 !important;
  opacity: 0.9;
}

/* Remove image url */
.testimonials {
  background: url('');
}

.buynow-infobar:before {
  background: #FFFFFF !important;
}

.preloader,
nav.navbar.bootsnav.sticky-header,
.jumptotop a,
h4:after,
p:after  {
  /* background: #B9F18C !important; /* with no background opacity. */ 
  background: #7FB685 !important; /* with no background opacity. */
}

.header-content h2 span,
i,
.buynow-infobar .section-title p,
.buynow-infobar .section-title h2,
.buynow-infobar .buynow-entry p {
  /* color: #B9F18C !important; */
  color: #7FB685 !important;
}

.icon-box {
  /* border: 1px solid #B9F18C !important; */
  border: 1px solid #7FB685 !important;
}

.feature-single:hover .icon-box {
  background: #EEEEEE;
}

.jumptotop a i {
  color: #FFFFFF !important;
}

.btn-buynow {
  /* color: #B9F18C !important;
  border: 2px solid #B9F18C !important; */
  color: #7FB685 !important;
  border: 2px solid #7FB685 !important;
}

.btn-buynow:hover {
  color: #FFFFFF !important;
  /* background: #B9F18C !important; */
  background: #7FB685 !important;
}

.footer-social a:hover {
  /* background: #B9F18C !important; */
  background: #7FB685 !important;
}

.footer-social a:hover ,
.footer-social a:hover i {
  color: #FFFFFF !important;
}

.contactinfo-single h3,
.contactus .section-title p,
.btn-contact {
  /* color: #B9F18C !important; */
  color: #7FB685 !important;
}

.contactinfo-single i {
  /* border: 1px solid #B9F18C !important; */
  border: 1px solid #7FB685 !important;
}

.btn-contact {
  /* border: 2px solid #B9F18C !important; */
  border: 2px solid #7FB685 !important;
}

.btn-contact:hover {
  /* background: #B9F18C !important; */
  background: #7FB685 !important;
  color: #FFFFFF !important;
}

/* end color overrides */
